body {

    margin: 0 auto;
}

.wrapper {
    width: 100%;
    max-width: 1190px;
    background: #222;
    opacity: 13,33%;
    margin: 0 auto;
    overflow: hidden;
}

p {
    color: #FFF;
    font-family: Lora;
    font-size: 32px;
    letter-spacing: 0.48px;
}

h2 {
    color: #FFF;
    font-family: Lora;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

h2.left-personal {
    margin: 91px 147px 0px 47px;
    width: 223px;
    height: 50px;
}

.left-personal-sub {
    margin: 186px 49px 29px 49px;
    display: flex;
    width: 319px;
    height: 248px;
    letter-spacing: 0.36px;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
}

.contanc-me {
    margin: 463px 98px 0px 48px;
    width: 271px;
    height: 50px;
}

#header {
    width: 100%;
    height: 421px;
    background-color: #403E3E;
    position: relative;
    top: 0;
    left: 0;
}

.column {
    background-color: #B39E9F;
    width: 100%;
    height: 421px;
    z-index: 3;
    position: absolute;
    top: -421px;
    display: flex;
    justify-content: center;

}

.column img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 56px;
    border: 8px solid black;
}

.header-name {
    margin: 99px 166px 134px 506px;
    width: 518px;
    height: 188px;
    color: #FFF;
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
}

.header-subname {
    margin: 277px 458px 100px 506px;
    width: 226px;
    height: 44px;
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    text-transform: uppercase;
}

.about-me {
    max-width: 417px;
    height: 1125px;
    background-color: #B39E9F;
    margin: 0 67px 0 22px;
    position: relative;
    z-index: 1;
}

.right-personal {
    margin: 64px 36px 0 492px;
    width: 666px;
    height: 836px;
    flex-shrink: 0;
    position: absolute;


}

.right-personal .right-item {
    width: 240px;
    margin: 0 50.5px;
    
}


#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 138px;
    background-color: #322f2f;
}

.footer-container {
    margin: 73px 0 69px;
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;

}

.footer-container .img-rsschool {
    width: 122px;
    height: 45px;
    margin-left: 73px;
}

.footer-container .img-github {
    width: 52px;
    height: 52px;
    margin-right: 69px;
}

.footer-container div {
    color: #B39E9F;
    text-align: center;
    font-family: Lora;
    font-size: 32px;
    letter-spacing: 0.48px;


}